spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          routes:
            # Маршрут к metrics-service
            - id: metrics-service
              uri: lb://metrics-service
              predicates:
                - Path=/api/v1/metrics/**
              filters:
                - StripPrefix=0
            # Маршрут к users-service
            - id: users-service
              uri: lb://users-service
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=0




server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


logging:
  pattern:
    console: "%-5level %d{HH:mm:ss} - %msg%n"

