# Server
server:
  port: 8088

spring:
  # Application info
  application:
    name: sender-to-email-service
  #SMTP
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

# Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.uuid}

# Logging
logging:
  pattern:
    console: "%-5level %d{HH:mm:ss} - %msg%n"